<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @member_type.department %>
</p>

<p>
  <strong>Type:</strong>
  <%= @member_type.type %>
</p>

<%= link_to 'Edit', edit_member_type_path(@member_type) %> |
<%= link_to 'Back', member_types_path %>
